
.profile__avatar-button {
    width: 26px;
    height: 26px;
    background-image: url("../../../images/icon-edit.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    z-index: 3;
    border: none;
    transition: opacity 0.4s linear;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 34%;
    left: 39%;
  }
  
  .profile__avatar-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }