.popup__submit-btn {
  width: 358px;
  height: 50px;
  background-image: url("../../../images/Rectangle.svg");
  background: #000000;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  align-self: center;
  cursor: pointer;
  margin: 48px auto 36px auto;
}
.popup__submit-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}
@media screen and (max-width: 410px) {
  .popup__submit-btn {
    max-width: 238px;
    height: 46px;
    margin: 46px auto 25px auto;
    font-size: 14px;
    line-height: 16.94px;
  }
}
