.popup__image-title {
  width: 291px;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
  color: #ffffff;
  margin: 10px 0 0 0;
  padding: 0;
  align-self: flex-start;
  background: transparent;
}
